---
import Layout from "@/layouts/Layout.astro";
import ThemeCard from "@/components/ui/ThemeCard.astro";
import { getCollection } from "astro:content";
import Pagination from "@/components/navigation/Pagination.astro";
import type { GetStaticPathsOptions } from "astro";
import { pageSize } from "@/config";
import BrowserCard from "@/components/ui/BrowserCard.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const themes = await getCollection("themes");

  return paginate(themes, { pageSize: pageSize });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<Layout title="Themes">
  <main
    class="flex flex-wrap items-center justify-between max-w-3xl px-4 mx-auto sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
    <section class="py-16 prose prose-headings:mb-1 dark:prose-invert">
      <h1
        class="max-w-lg text-4xl font-bold delay-100 md:text-5xl animated-fade-in">
        Templates designed for success
      </h1>
      <p class="text-xl">Templates Designed for Website Success</p>
      <ul class="flex flex-col p-0">
        <li class="flex items-center gap-2">
          <Icon
            name="tabler:rocket"
            class="w-6 h-6 text-gray-400 dark:text-gray-500"
          />
          100/100 Page Speed Score
        </li>
        <li class="flex items-center gap-2">
          <Icon
            name="tabler:world-search"
            class="w-6 h-6 text-gray-400 dark:text-gray-500"
          />
          Accesible and SEO Friendly
        </li>
        <li class="flex items-center gap-2">
          <Icon
            name="tabler:mood-smile"
            class="w-6 h-6 text-gray-400 dark:text-gray-500"
          />
          They feel good to use
        </li>
      </ul>
    </section>
    <section
      class="grid grid-cols-1 gap-4 mb-8 md:mb-16 md:grid-cols-2 lg:grid-cols-3">
      {
        page &&
          page.data.map((theme) => (
            <BrowserCard
              href={`/themes/${theme.slug}`}
              cover={theme.data.cover}
              title={theme.data.title}
            />
          ))
      }
    </section>
  </main>
  {
    page && page.data.length > pageSize && (
      <section class="flex flex-wrap items-center justify-between max-w-3xl p-4 px-4 mx-auto space-x-4 sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
        <Pagination totalPages={page.data.length} />
      </section>
    )
  }
</Layout>
