---
export const prerender = false;
import { type Dogs } from "@/api/types/dog";
import { getDogs } from "@/api/dogs";
import Layout from "@/layouts/Layout.astro";
import PetCard from "@/components/ui/PetCard.astro";
import { type Multilingual, DEFAULT_LOCALE } from "@/i18n";

const baseUrl: Multilingual = {
  es: "nuestros-perros",
  en: "our-dogs",
  ja: "犬たち",
  "zh-cn": "我们的狗",
  ar: "أنا الكلب",
};

const currentPath = Astro.url.pathname;

// Assuming lang is determined by some logic elsewhere in your app
const lang = DEFAULT_LOCALE; // Replace this with the actual locale logic
const translatedPath = `${baseUrl[lang] || baseUrl[DEFAULT_LOCALE]}`;

if (!currentPath.includes(translatedPath)) {
  return Astro.redirect(translatedPath);
}

const dogs = (await getDogs()) as Dogs;
---

<Layout title="Our Dogs">
  <main
    class="mx-auto flex max-w-7xl flex-wrap items-center justify-between space-x-4 p-4 px-4 sm:px-6 md:max-w-4xl lg:px-8">
    <section class="w-full">
      <div class="mb-2 mt-16 flex flex-col text-center">
        <h2
          class="font-handwrite text-2xl font-semibold tracking-wider text-secondary md:text-3xl">
          Looking for a home
        </h2>
        <p
          class="mt-2 font-display text-4xl font-bold tracking-tight text-foreground md:text-5xl">
          Our dogs
        </p>
        <p class="mx-auto mt-5 max-w-prose text-lg text-gray-500 md:text-xl">
          Visit us regularly and meet our new arrivals
        </p>
      </div>

      <div
        class="grid w-full gap-4 px-10 py-12 sm:grid-cols-2 md:grid-cols-3 md:gap-8 md:px-0 md:py-14 lg:grid-cols-4 lg:py-16">
        {
          dogs &&
            dogs.map((dog) => (
              <div>
                <PetCard dog={dog} />
              </div>
            ))
        }
      </div>
    </section>
  </main>
</Layout>
