---
import { Icon } from "astro-icon/components";
import { getLocalePaths, LOCALES } from "@/i18n";
---

<label
  class="flex items-center justify-start gap-2 rounded-md bg-transparent text-sm font-medium leading-tight"
>
  <select class="bg-transparent" data-languageSelect>
    {
      getLocalePaths(Astro.url).map(({ path, lang }) => (
        <option
          label={LOCALES[lang].label}
          value={path}
          data-lang={lang}
          selected={lang === Astro.currentLocale}
          dir={LOCALES[lang].dir || null}
        />
      ))
    }
  </select>
</label>

<script is:inline>
  const selects = document.querySelectorAll("[data-languageSelect]");

  selects.forEach((select) => {
    select.addEventListener("change", (event) => {
      // used for 404 page
      localStorage.selectedLang = event.target?.selectedOptions[0].dataset.lang;
      location.href = event.target?.value;
    });
  });
</script>
