---
import Layout from "@/layouts/Layout.astro";

import type { Lang } from "@/i18n";
import Accordion from "@/components/ui/Accordion.astro";
import AccordionSection from "@/components/ui/AccordionSection.astro";
import { getFaqs } from "@/api/faq";
import type { Faq } from "@/api/types/faq";

const locale = Astro.currentLocale as Lang;

// Get the page for this slug
const faqs = await getFaqs(locale);
---

<Layout
  title="Frequently Asked Questions"
  description="Find answers to common questions about adopting, volunteering, and supporting PAD — the domestic animal shelter in Mijas Costa.">
  <main class="">
    <!-- Heading -->
    <div
      class="text-default relative mx-auto max-w-4xl px-8 py-12 md:px-10 md:py-14 lg:py-16">
      <div class="max-w-2xl text-center md:mx-auto md:max-w-4xl lg:max-w-5xl">
        <div>
          <span
            class="font-handwrite text-2xl font-semibold tracking-wider text-secondary md:text-3xl">
            Frequently Asked Questions
          </span>
          <h2
            class="mt-2 font-display text-4xl font-bold tracking-tight text-foreground md:text-5xl">
            Clear your doubts, we'll help you find a home
          </h2>
          <p class="mt-8 text-lg text-muted md:text-xl">
            If you have any questions that are not answered here, please don't
            hesitate to contact us.
          </p>
        </div>
      </div>
    </div>

    <!-- Content -->
    <section class="w-full">
      <div class="relative mx-auto mb-20 max-w-4xl px-8 md:px-10">
        <div
          class="rounded-lg border border-[#ffffff29] bg-white px-4 shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur">
          <Accordion>
            {
              faqs &&
                faqs.map((faq: Faq) => (
                  <AccordionSection>
                    <h4 slot="question">{faq.translations[0].question}</h4>
                    <p slot="answer">{faq.translations[0].answer}</p>
                  </AccordionSection>
                ))
            }
          </Accordion>
        </div>
      </div>
    </section>
  </main>
</Layout>
