---
import Button from "@/components/forms/Button.astro";
import Link from "@/components/ui/Link.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

interface Status {
  name: string;
  operational: boolean;
}
interface Props {
  variant?: "success" | "error";
  subsystems?: Status[];
}
const subsystemsDefault: Status[] = [
  { name: "User's Database", operational: false },
  { name: "API Server", operational: true },
  { name: "Authentication Service", operational: true },
  { name: "Email Service", operational: true },
  { name: "File Storage", operational: true },
  { name: "Payment Gateway", operational: true },
];

const { variant = "error", subsystems = subsystemsDefault } = Astro.props;
---

<Layout title="Support">
  <main
    class="mx-auto flex max-w-3xl flex-col p-4 px-4 sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
    <section
      class="not-prose mb-8 w-full pt-16 dark:prose-invert prose-headings:mb-1">
      {
        variant === "success" && (
          <div class="flex w-full items-center justify-between rounded-lg bg-accent p-8">
            <div class="text-accent-foreground">
              All systems operational. No issues detected.
            </div>
            <div class="font-mono text-xs text-accent-foreground">
              Last checked at{" "}
              <span class="text-accent-foreground">
                {new Date().toLocaleString()}
              </span>
            </div>
          </div>
        )
      }
      {
        variant === "error" && (
          <div class="flex w-full items-center justify-between rounded-lg bg-destructive p-8">
            <div class="text-destructive-foreground">
              Some systems are experiencing issues. Please check back later.
            </div>
            <div class="font-mono text-xs text-destructive-foreground">
              Last checked at{" "}
              <span class="text-destructive-foreground">
                {new Date().toLocaleString()}
              </span>
            </div>
          </div>
        )
      }
    </section>

    <section
      class="not-prose w-full pb-16 dark:prose-invert prose-headings:mb-1">
      <div class="overflow-hidden border border-foreground/20 sm:rounded-lg">
        <table class="min-w-full">
          <tbody>
            {
              subsystems.map((status) => (
                <tr class="border-b">
                  <td class="p-4">{status.name}</td>
                  {status.operational && (
                    <td class="p-4 text-accent">
                      <div class="flex items-center gap-2">
                        <Icon name="tabler:check" class="h-5 w-5" />
                        Operational
                      </div>
                    </td>
                  )}
                  {!status.operational && (
                    <td class="p-4 font-semibold text-destructive">
                      <div class="flex items-center gap-2">
                        <Icon name="tabler:flame" class="h-5 w-5" />
                        Fail
                      </div>
                    </td>
                  )}
                </tr>
              ))
            }
          </tbody>
        </table>
      </div>
    </section>
  </main>
</Layout>
