---
import Button from "@/components/forms/Button.astro";
import Link from "@/components/ui/Link.astro";
import Layout from "@/layouts/Layout.astro";

const gotoThemes = () => {
  window.location.href = "/themes";
};
---

<Layout title="Support">
  <main
    class="flex flex-wrap items-center justify-between max-w-3xl p-4 px-4 mx-auto space-x-4 sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
    <section class="py-16 prose prose-headings:mb-1 dark:prose-invert">
      <h1
        class="max-w-lg text-4xl font-bold delay-100 md:text-5xl animated-fade-in">
        Do you need support?
      </h1>
      <p class="text-xl">
        We are here to help you with any questions or issues you may have.
      </p>
    </section>
  </main>
</Layout>
