---
import "assets/styles/hamburgers.css";

interface Props {
  class: string;
}
const { class: className = "" } = Astro.props;
---

<astro-hamburger>
  <button
    id="hamburger"
    class:list={["hamburger hamburger--spin", className]}
    type="button"
    aria-label="Menu"
    aria-controls="navigation"
  >
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</astro-hamburger>

<style lang="scss">
  .hamburger {
    scale: 0.85;
    padding-left: 0;
    padding-right: 0;
  }

  .hamburger--spin .hamburger-inner::before  {
    top: 11px;
  }
  .hamburger--spin .hamburger-inner::after  {
    top: 22px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    height: 3px;
    width: 38px;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: hsl(var(--foreground));
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: hsl(var(--foreground));
  }
</style>

<script>
  class Hamburger extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector(".hamburger") as HTMLElement;

      button.addEventListener("click", () => {
        button.classList.toggle("is-active");
      });
    }
  }

  // Tell the browser to use our Hamburger class for <astro-hamburger> elements.
  customElements.define("astro-hamburger", Hamburger);
</script>
