---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  images: ImageMetadata[];
  title: string;
}

const { images, title } = Astro.props;
---

<div class="flex flex-col items-center gap-8">
  <div class="flex flex-col items-center">
    <div
      class="flex aspect-[4/3] w-full touch-pan-x snap-x snap-mandatory overflow-x-scroll scroll-smooth rounded-md">
      {
        images &&
          images.map((image, index) => (
            <Image
              class="peer w-full snap-start snap-always"
              src={image}
              alt={title ?? ""}
              id={`slide${index + 1}`}
              width={1600}
              height={900}
            />
          ))
      }
    </div>
  </div>
  <div class="flex">
    {
      images &&
        images.map((_, index) => (
          <a
            href={`#slide${index + 1}`}
            class="mx-1 h-2 w-2 rounded-full bg-foreground/60 hover:bg-foreground focus:bg-foreground peer-in-range:bg-foreground"
          />
        ))
    }
  </div>
</div>
