---
import { getPages } from "@/api/pages";
import type { Page, PagesTranslation } from "@/api/types/pages";
import PageCard from "@/components/ui/PageCard.astro";
import Layout from "@/layouts/Layout.astro";

import type { Lang } from "@/i18n";
import { tablerIconMap } from "@/consts";
import Accordion from "@/components/ui/Accordion.astro";
import AccordionSection from "@/components/ui/AccordionSection.astro";
import ContactForm from "@/components/forms/ContactForm.astro";

const locale = Astro.currentLocale as Lang;

// Get the page for this slug
const pages = await getPages(["volunteer-page"], locale);
---

<Layout title="Contacto" description="Contacta con nosotros">
  <main class="">
    <!-- Heading -->
    <div
      class="text-default relative mx-auto max-w-5xl px-8 py-12 md:max-w-4xl md:px-10 md:py-14 lg:py-16">
      <div
        class="mb-8 max-w-2xl text-center md:mx-auto md:mb-12 md:max-w-4xl lg:max-w-5xl">
        <div>
          <span
            class="font-handwrite text-2xl font-semibold tracking-wider text-secondary md:text-3xl">
            Contacto
          </span>
          <h2
            class="mt-2 font-display text-4xl font-bold tracking-tight text-foreground md:text-5xl">
            Déjanos un mensaje y te ayudaremos a encontrar un compañero
          </h2>
          <p class="mt-8 text-lg text-muted md:text-xl">
            Estamos aquí para escucharte y trabajar juntos en favor de los
            animales necesitados.
          </p>
        </div>
      </div>
    </div>

    <!-- Content -->
    <section class="w-full">
      <div class="relative mx-auto mb-20 max-w-5xl px-8 md:max-w-4xl md:px-14">
        <ContactForm />
      </div>
    </section>
  </main>
</Layout>
