---
import "@/assets/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import { footerLinks, mainMenu, siteMeta } from "@/config";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  ogType?: string;
}

const { title, description, ogImage, ogType } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title ?? siteMeta.title}
      description={description ?? siteMeta.description}
      openGraph={{
        basic: {
          title: title ?? siteMeta.title,
          type: ogType ?? siteMeta.ogType,
          image: ogImage ?? siteMeta.ogImage,
        },
      }}
      twitter={{
        creator: siteMeta.twitterCreator,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: ogImage ?? siteMeta.ogImage,
          },
          { name: "twitter:title", content: title ?? siteMeta.title },
          {
            name: "twitter:description",
            content: description ?? siteMeta.description,
          },
          {
            name: "viewport",
            content:
              "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? siteMeta.title}</title>
    <ViewTransitions />
  </head>
  <body
    class="text-foreground bg-background transition-colors duration-200 ease-in-out">
    <Navbar mainMenuItems={mainMenu} />
    <slot />
    <Footer footerLinks={footerLinks} />
  </body>
</html>
