---
import "@/assets/styles/globals.css";
import "@fontsource/poppins";
import "@fontsource-variable/caveat";
import { ViewTransitions } from "astro:transitions";
import { siteMeta } from "@/config";
import Footer from "@/components/layout/Footer.astro";
import { SEO } from "astro-seo";
import Header from "@/components/layout/Header.astro";
import { LOCALES, getLocalePaths, type Lang } from "@/i18n";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  ogType?: string;
}

const locale = Astro.currentLocale as Lang;
const { title, description, ogImage, ogType } = Astro.props as Props;
---

<!doctype html>
<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
  <head>
    <SEO
      title={title ?? siteMeta.title}
      description={description ?? siteMeta.description}
      openGraph={{
        basic: {
          title: title ?? siteMeta.title,
          type: ogType ?? siteMeta.ogType,
          image: ogImage ?? siteMeta.ogImage,
        },
      }}
      twitter={{
        creator: siteMeta.twitterCreator,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: ogImage ?? siteMeta.ogImage,
          },
          { name: "twitter:title", content: title ?? siteMeta.title },
          {
            name: "twitter:description",
            content: description ?? siteMeta.description,
          },
          {
            name: "viewport",
            content:
              "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }
    <title>{title ?? siteMeta.title}</title>
    <ViewTransitions />
  </head>
  <body
    id="body"
    class="bg-background text-foreground transition-colors duration-200 ease-in-out has-[.navbar-expanded]:overflow-y-hidden">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
