---
import { siteMeta } from "../config";
import { SEO } from "astro-seo";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  ogType?: string;
}

const { title, description, ogImage, ogType } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title ?? siteMeta.title}
      description={description ?? siteMeta.description}
      openGraph={{
        basic: {
          title: title ?? siteMeta.title,
          type: ogType ?? siteMeta.ogType,
          image: ogImage ?? siteMeta.ogImage,
        },
      }}
      twitter={{
        creator: siteMeta.twitterCreator,
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/assets/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: ogImage ?? siteMeta.ogImage,
          },
          { name: "twitter:title", content: title ?? siteMeta.title },
          {
            name: "twitter:description",
            content: description ?? siteMeta.description,
          },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="description" content={description ?? siteMeta.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? siteMeta.title}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
