---
import Layout from "@/layouts/Layout.astro";

const { title, description, ogImage } = Astro.props;
---

<Layout
  title={title}
  description={description}
  ogImage={ogImage}
  ogType="website">
  <main
    class="mx-auto p-4 max-w-3xl py-8 sm:px-6 lg:max-w-6xl lg:px-8 xl:max-w-7xl">
    <article class="prose dark:prose-invert">
      <slot />
    </article>
  </main>
</Layout>
