---
import { Icon } from "astro-icon/components";

const { icon = "tabler:chevron-left" } = Astro.props;
---

<label
  class="grid cursor-pointer grid-cols-12 items-center overflow-hidden px-4 py-8">
  <input type="checkbox" value="" class="peer sr-only col-span-12" />
  <div
    class="col-span-11 text-lg font-medium peer-checked:font-bold md:text-xl">
    <slot name="question" />
  </div>
  <Icon
    class="col-span-1 ml-auto text-2xl transition peer-checked:-rotate-90"
    name={icon}
  />
  <span
    class="col-span-12 h-0 -translate-y-2 pt-0 text-base opacity-0 transition delay-0 duration-300 peer-checked:h-auto peer-checked:translate-y-0 peer-checked:pt-3 peer-checked:opacity-100">
    <slot name="answer" />
  </span>
</label>
