---
import { Image } from "astro:assets";

interface Props {
  src: string;
  alt: string;
  class?: string;
}

const { src, alt, class: className = "" } = Astro.props;
---

<div class:list={["relative", className]}>
  <div class="absolute inset-0 flex items-center justify-center">
    <div
      class="h-full w-full overflow-hidden rounded-full ring-2 ring-gray-200 dark:ring-gray-700">
      <Image
        src={src}
        alt={alt ?? ""}
        width={128}
        height={128}
        class="h-full w-full object-cover"
      />
    </div>
  </div>
  <slot />
</div>
