---
const { duration = "60s" } = Astro.props;
---

<div class="relative flex h-full w-full items-center py-6">
  <div class="relative flex max-w-[100vw] flex-col overflow-hidden py-5">
    <div
      class=`flex gap-4 w-max animate-marquee items-center [--duration:${duration}] hover:[animation-play-state:paused]`
    >
      <slot />
    </div>
  </div>
</div>
